/.venv/
/.venv311/
/.env
/temp.py
/temp_1.py
/DATA_CATALOGS/llm_models/gguf/codellama-7b-instruct.Q5_K_M.gguf
/DATA_CATALOGS/llm_models/gguf/DeepSeek-R1-Distill-Qwen-7B.Q4_K_M.gguf
/DATA_CATALOGS/llm_models/gguf/Meta-Llama-3.1-8B-Instruct-Q5_K_M.gguf
/DATA_CATALOGS/llm_models/gguf/Qwen2.5-Coder-3B-Instruct.Q5_K_M.gguf
*tmp*.xlsx
/data_out/lavr_goods.xlsx
/data_out/lavr_href.xlsx
/data_out/oil_auto_chemistry.xlsx
/data_out/oil_classifier.xlsx
/data_out/olap_car_bart_1000.xlsx
/data_out/paramClasifier.xlsx
/data_out/podbormasla_makes.xlsx
/data_out/rep_search_final.txt
/data_out/tmp.xlsx
/data_out/tmp1.xlsx
/data_out/~$podbormasla_makes.xlsx
/DATA_CATALOGS/llm_models/
/PROJECTS/LLM_OIL_CLASSIFIER/data_json/
/PROJECTS/LLM_OIL_CLASSIFIER/models_cache/
/PROJECTS/LLM_OIL_CLASSIFIER/OIL_SELECTION_PARSER/
/PROJECTS/LLM_OIL_CLASSIFIER/OIL_SELECTION_PARSER/data_out/
/PROJECTS/DEEP_RESEACH/
/PROJECTS/EXPERIMENTS/
/PROJECTS/LLM_DataFrame_TgBot/
/PROJECTS/LLM_RAG_BOT/
/PROJECTS/PARSERS/
/PROJECTS/SPEECH_SYNTHESIZER/
/PROJECTS/TRANSCRIBATION/
/PROJECTS/TUNING_LLM/
/reports/
/venv/
/DATA_CATALOGS/llm_models/gguf/Mistral-7B-Instruct-v0.3-Q4_K_M.gguf
__pycache__/
*.pyc
*.pyo
*.pyd
/.venv/
/PROJECTS/LLM_OIL_CLASSIFIER/analysis/
/requirements.txt
/data_in/
/data_out/
